n8n.json
{
  "name": "AI Video Pipeline - Fixed",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-script",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "6105af47-0854-4c15-8347-97484a210cbf",
      "name": "Webhook - Submit Script",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2064,
        128
      ],
      "webhookId": "bcf1bc27-1c45-4f2a-a82e-eee29439f909"
    },
    {
      "parameters": {
        "tableId": "jobs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "script",
              "fieldValue": "={{$json.body.script}}"
            },
            {
              "fieldId": "status",
              "fieldValue": "processing_voice_json"
            },
            {
              "fieldId": "progress",
              "fieldValue": 0
            },
            {
              "fieldId": "voice_name",
              "fieldValue": "={{ $json.body.voice_name || 'denis' }}"
            }
          ]
        }
      },
      "id": "dc3eb0e4-465b-4360-a0f6-927e78054bd9",
      "name": "Supabase - Create Job",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1840,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "q8YWNu9HKDAtBLD7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json;\nconst script = inputData.script || 'Default script';\nconst rowId = inputData.id;\n\nconst voicePrompt = `You are a professional voiceover script editor.\n\nConvert the RAW text into a clear, natural, spoken script formatted as valid JSON only.\n\nOutput format:\n{\n  \"voice1\": \"text\",\n  \"voice2\": \"text\",\n  ...\n  \"voice30\": \"text\"\n}\n\nRules:\n\n1) Produce EXACTLY 30 paragraphs: voice1 → voice30.\n   Each paragraph must be 40–60 words.\n   Maintain logical and narrative flow.\n\n2) Rewrite for speech:\n   - Use conversational language\n   - Prefer short, clear sentences\n   - Improve rhythm and pacing\n   - Use natural transitions\n   - Remove awkward phrasing\n   - Preserve meaning and key facts\n\n3) Optimize for text-to-speech:\n   - Avoid long or nested sentences\n   - Avoid symbols, lists, and formatting\n   - Avoid uncommon abbreviations\n   - Spell out numbers when helpful\n   - Use punctuation to guide pauses\n\n4) Do NOT include:\n   - Inline performance instructions\n   - Stage directions\n   - Bracketed emotion tags\n   - Markup or metadata\n   - Explanations\n   - Markdown\n   - Extra text\n\n5) Output ONLY valid JSON.\n   No comments. No trailing commas. No text outside JSON.\n\nRAW TEXT:\n${script}`;\n\nreturn [{\n  json: {\n    requestBody: {\n      model: 'arcee-ai/trinity-large-preview:free',\n      messages: [\n        { role: 'system', content: 'You are a professional voiceover script editor.' },\n        { role: 'user', content: voicePrompt }\n      ],\n      max_tokens: 6000,\n      temperature: 0.7\n    },\n    row_id: rowId\n  }\n}];"
      },
      "id": "1801a00c-c634-4395-a3c8-d3fe006869da",
      "name": "Code - Voice Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "43720bb6-a7a7-4ef2-bd2a-a7f03aede11d",
      "name": "OpenRouter - Voice Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        128
      ],
      "credentials": {
        "openRouterApi": {
          "id": "VMQfW8geODAV8Fjs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const voiceJson = $node[\"OpenRouter - Voice Request\"].json.choices[0].message.content;\nconst rowId = $node[\"Code - Voice Prompt\"].json.row_id;\n\nconst imagePrompt = `You are an expert visual designer and prompt engineer.\n\nYour task is: Given a JSON of 30 text paragraphs (voice1 → voice30), generate a **new JSON with 30 image generation prompts** that correspond to each paragraph. Each prompt should describe a **key visual representative frame** for the paragraph.\n\nRequirements:\n\n1. Output must be **valid JSON only**, keys \"image1\" to \"image30\", values are strings. No explanations, markdown, instructions, or extra text.\n2. Each prompt should describe a **single, clear image** representing the paragraph.\n3. Maintain a **consistent visual style** across all prompts:\n   - Color palette (e.g., cinematic, moody, vibrant, pastel)\n   - Character design (age, gender, clothing, expression)\n   - Background style (interior, exterior, lighting, weather)\n4. Include **rich visual details**:\n   - Lighting (soft, harsh, golden hour, neon, shadows)\n   - Composition (foreground, background, perspective)\n   - Objects and environment\n   - Emotions conveyed by scene\n5. The prompt should be concise but descriptive enough to generate a **high-quality, static first frame** for a video.\n6. Do NOT include explanations, instructions, markdown, or extra text.\n\nExample format:\n{\n  \"image1\": \"A young woman standing on a rainy street under neon lights, reflective puddles, cinematic moody palette, detailed skyscraper background, soft rain, contemplative expression, key visual representative frame\",\n  \"image2\": \"...\"\n}\n\nInput JSON:\n${voiceJson}`;\n\nreturn [{\n  json: {\n    requestBody: {\n      model: 'arcee-ai/trinity-large-preview:free',\n      messages: [\n        { role: 'system', content: 'You are a storyboard artist.' },\n        { role: 'user', content: imagePrompt }\n      ],\n      max_tokens: 6000,\n      temperature: 0.7\n    },\n    row_id: rowId\n  }\n}];"
      },
      "id": "d31d7b65-c18c-4e55-8c17-707727b780f7",
      "name": "Code - Image Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "a3305f6b-0f54-4867-921b-0794877fca19",
      "name": "OpenRouter - Image Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        336
      ],
      "credentials": {
        "openRouterApi": {
          "id": "VMQfW8geODAV8Fjs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const imageJson = $node[\"OpenRouter - Image Request\"].json.choices[0].message.content;\nconst rowId = $node[\"Code - Image Prompt\"].json.row_id;\n\nconst videoPrompt = `You are an expert cinematic director and visual prompt engineer.\n\nYour task is: Given a JSON of 30 text paragraphs (image1 → image30), generate a **new JSON with 30 video generation prompts**, one per paragraph. Each prompt should describe a **20-second dynamic video** corresponding to the paragraph.\n\nRequirements:\n\n1. Output must be **valid JSON only**, keys \"video1\" to \"video30\", values are strings. No explanations, markdown, instructions, or extra text.\n2. Each prompt should describe a **multi-shot / multi-action scene** suitable for a 20-second clip.\n3. Maintain a **consistent visual style** across all prompts:\n   - Color palette\n   - Character design\n   - Background environment\n   - Lighting\n4. Include **types of cinematic shots and camera angles** (use creatively):\n   - Eye Level Shot\n   - Low Angle Shot\n   - High Angle Shot\n   - Hip Level Shot\n   - Knee Level Shot\n   - Ground Level Shot\n   - Shoulder Level Shot\n   - Dutch Angle\n   - Bird’s-Eye View\n   - Aerial Shot\n   - Over-the-Shoulder Shot\n   - Tracking Shot\n   - Close-Up\n   - Extreme Close-Up\n5. Include **motion/action cues**:\n   - Camera movement (pan, tilt, dolly, tracking)\n   - Character motion (walking, running, turning, gesturing)\n   - Environmental motion (rain, smoke, fire, explosions)\n6. Include **rich visual details**:\n   - Foreground and background composition\n   - Textures, objects, and props\n   - Emotions conveyed by scene\n7. Each prompt should **flow through multiple micro-scenes** (e.g., opening establishing shot, mid-action close-up, end wide shot) to make the video visually dynamic.\n8. Do NOT include explanations, markdown, instructions, or extra text.\n\nExample format:\n{\n  \"video1\": \"Eye level shot: young woman walks down neon-lit rainy street, camera slowly dollying forward; Close-up: raindrops on her cheek, contemplative expression; Tracking shot: pan to distant skyscrapers, mist rising; Wide shot: entire street, moving cars, neon reflections, cinematic moody palette\",\n  \"video2\": \"High angle shot: bustling market, camera tilting down to show interactions; Medium shot: vendor gestures, colorful produce; Close-up: hand exchanging coin; Wide shot: crowd moves through street, cinematic lighting\"\n}\n\nInput JSON:\n${imageJson}`;\n\nreturn [{\n  json: {\n    requestBody: {\n      model: 'arcee-ai/trinity-large-preview:free',\n      messages: [\n        { role: 'system', content: 'You are a cinematic director.' },\n        { role: 'user', content: videoPrompt }\n      ],\n      max_tokens: 6000,\n      temperature: 0.7\n    },\n    row_id: rowId\n  }\n}];"
      },
      "id": "8efdebe7-48ae-4a91-b147-9ff6f16240c9",
      "name": "Code - Video Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1648,
        544
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openRouterApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.requestBody }}",
        "options": {}
      },
      "id": "907d5e94-d4c3-4881-800f-13355914047a",
      "name": "OpenRouter - Video Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1440,
        544
      ],
      "credentials": {
        "openRouterApi": {
          "id": "VMQfW8geODAV8Fjs",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "69a18229-2c77-498b-bd67-7b323a9a3c61",
      "name": "Wait - Voice",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1024,
        128
      ],
      "webhookId": "eb4f0284-6826-45b0-9cb7-1b4d2b4ce799"
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "826fce0b-8b5a-49b5-bc3d-5fe98d37405a",
      "name": "Wait - Image",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -1024,
        336
      ],
      "webhookId": "98e8b2f0-665f-4076-ab45-f83e122e83eb"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filterType": "=manual",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node['Supabase - Create Job'].json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "voice_json",
              "fieldValue": "={{ $json.voice_json }}"
            },
            {
              "fieldId": "image_json",
              "fieldValue": "={{ $json.image_json }}"
            },
            {
              "fieldId": "video_json",
              "fieldValue": "={{ $json.video_json }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "Jsons Completed"
            },
            {
              "fieldId": "progress",
              "fieldValue": "100"
            }
          ]
        }
      },
      "id": "40f0b523-1c91-49d2-b338-2f0621e7cec4",
      "name": "Supabase - Update Final Results1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1440,
        752
      ],
      "credentials": {
        "supabaseApi": {
          "id": "q8YWNu9HKDAtBLD7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filterType": "=manual",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node['Supabase - Create Job'].json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing_image_json"
            },
            {
              "fieldId": "progress",
              "fieldValue": "33"
            },
            {
              "fieldId": "voice_json",
              "fieldValue": "={{ $node[\"OpenRouter - Voice Request\"].json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "517a2321-0ae5-443f-80a9-ed29b5167e1b",
      "name": "Supabase - Update Final Results",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1232,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "q8YWNu9HKDAtBLD7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filterType": "=manual",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node['Supabase - Create Job'].json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "processing_video_json"
            },
            {
              "fieldId": "progress",
              "fieldValue": "66"
            },
            {
              "fieldId": "image_json",
              "fieldValue": "={{ $node[\"OpenRouter - Image Request\"].json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "d7f8ee77-2544-4733-aad6-fb71109e4f2e",
      "name": "Supabase - Update Final Results2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1232,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "q8YWNu9HKDAtBLD7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "b9d05620-2259-4239-a23a-fe63b7c747f6",
              "leftValue": "={{ Object.keys(JSON.parse($json.voice_json)).length === 30 }}",
              "rightValue": "=30",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d48364ff-dc1e-4141-bc9e-fdb7c3a4b262",
              "leftValue": "={{ Object.keys(JSON.parse($json.image_json)).length === 30 }}",
              "rightValue": "=30",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "3efc9959-ccf9-4bfe-8301-8977c40f66f3",
              "leftValue": "={{ Object.keys(JSON.parse($json.video_json)).length === 30 }}",
              "rightValue": "=30",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1840,
        720
      ],
      "id": "eb66e17e-af37-48d8-92cd-170e6665a7c5",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filterType": "=manual",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node['Supabase - Create Job'].json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "cheking_jsons"
            },
            {
              "fieldId": "progress",
              "fieldValue": "99"
            },
            {
              "fieldId": "video_json",
              "fieldValue": "={{ $node[\"OpenRouter - Video Request\"].json.choices[0].message.content }}"
            }
          ]
        }
      },
      "id": "8ff27e31-20b8-43a1-ae1d-df9daefc65e6",
      "name": "Supabase - Update Final Results3",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1232,
        544
      ],
      "credentials": {
        "supabaseApi": {
          "id": "q8YWNu9HKDAtBLD7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "jobs",
        "filterType": "=manual",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node['Supabase - Create Job'].json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "error_message",
              "fieldValue": "AI validation failed: The generated JSONs did not contain exactly 30 items."
            }
          ]
        }
      },
      "id": "c250c2cf-91ba-4139-b62e-dfe37edb906f",
      "name": "Supabase - Update Final Results4",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1840,
        944
      ],
      "credentials": {
        "supabaseApi": {
          "id": "q8YWNu9HKDAtBLD7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "server_config",
        "filters": {
          "conditions": [
            {
              "keyName": "service_name",
              "keyValue": "colab_tts"
            }
          ]
        }
      },
      "id": "6ca4a1df-edad-4c0e-8602-21343a593907",
      "name": "Supabase - Get Colab URL",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -1440,
        976
      ],
      "credentials": {
        "supabaseApi": {
          "id": "q8YWNu9HKDAtBLD7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const voiceName = $node[\"Webhook - Submit Script\"].json.body.voice_name || 'denis';\n\nconst projectID = 'acpxzjrjhvvnwnqzgbxk'; \nconst bucket = 'reference_voices';\n\nconst voiceURL = `https://${projectID}.supabase.co/storage/v1/object/public/${bucket}/${voiceName}.wav`;\n\nreturn {\n  voice_name: voiceName,\n  voice_url: voiceURL\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        752
      ],
      "id": "4734120c-70b6-4cd5-806d-c68169e5cb34",
      "name": "Generate Voice URL"
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab the JSON string from the AI node\nconst voiceContent = $node[\"Fix Jsons Quotes Escape\"].json.voice_json;\n\n// 2. Clean and Parse it\nconst voiceData = JSON.parse(voiceContent.replace(/```json|```/g, \"\").trim());\n\n// 3. Join all 30 voices with a pause separator\nconst fullScript = Object.values(voiceData).join(\" ... \"); \n\n// 4. Get the row ID and Voice URL\nconst rowId = $node[\"Supabase - Create Job\"].json.id;\nconst voiceUrl = $node[\"Generate Voice URL\"].json.voice_url;\n\nreturn {\n  script: fullScript,\n  row_id: rowId,\n  ref_voice_url: voiceUrl\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        752
      ],
      "id": "58455bb0-b6b7-4f0d-aa68-a43617982e26",
      "name": "Prepare TTS Script"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "audio-finished",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -656,
        960
      ],
      "id": "eaedac03-8d91-481d-ab8c-05ca66bafb3d",
      "name": "Webhook - Audio Finished",
      "webhookId": "098da0d6-8e0f-4aba-ae75-ad40863268d9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Supabase - Get Colab URL\"].json.current_url }}/process-audio",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "script",
              "value": "={{ $node[\"Prepare TTS Script\"].json.script }}"
            },
            {
              "name": "row_id",
              "value": "={{ $node[\"Prepare TTS Script\"].json.row_id }}"
            },
            {
              "name": "ref_voice_url",
              "value": "={{ $node[\"Prepare TTS Script\"].json.ref_voice_url }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1232,
        976
      ],
      "id": "4b34571f-7caf-4c8b-a84a-602f0c84fd3d",
      "name": "HTTP Request - Voiceover URL"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get raw text from the AI nodes\nconst rawVoice = $node[\"OpenRouter - Voice Request\"].json.choices[0].message.content;\nconst rawImage = $node[\"OpenRouter - Image Request\"].json.choices[0].message.content;\nconst rawVideo = $node[\"OpenRouter - Video Request\"].json.choices[0].message.content;\n\nfunction cleanAndEscape(raw) {\n  try {\n    // Step A: Strip Markdown (the ```json ... ``` stuff that breaks parsing)\n    let clean = raw.replace(/```json|```/g, \"\").trim();\n    \n    // Step B: Parse it into a real Javascript Object\n    // This handles those internal quotes like \"Access granted\" automatically\n    const obj = JSON.parse(clean);\n    \n    // Step C: Stringify it back. \n    // This forces proper backslash escaping (\\\") for every internal quote.\n    return JSON.stringify(obj);\n  } catch (e) {\n    // Fallback: If AI sent total garbage, return an empty JSON object string\n    return \"{}\";\n  }\n}\n\n// 2. Process all three\nconst fixedVoice = cleanAndEscape(rawVoice);\nconst fixedImage = cleanAndEscape(rawImage);\nconst fixedVideo = cleanAndEscape(rawVideo);\n\n// 3. Output with the exact names you want for the rest of the workflow\nreturn [{\n  json: {\n    voice_json: fixedVoice,\n    image_json: fixedImage,\n    video_json: fixedVideo,\n    // We also include the counts so your IF node is super easy to set up\n    voice_count: fixedVoice !== \"{}\" ? Object.keys(JSON.parse(fixedVoice)).length : 0,\n    image_count: fixedImage !== \"{}\" ? Object.keys(JSON.parse(fixedImage)).length : 0,\n    video_count: fixedVideo !== \"{}\" ? Object.keys(JSON.parse(fixedVideo)).length : 0\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1024,
        544
      ],
      "id": "f7d516a0-425e-452b-94fc-a491056c9d40",
      "name": "Fix Jsons Quotes Escape"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Submit Script": {
      "main": [
        [
          {
            "node": "Supabase - Create Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Create Job": {
      "main": [
        [
          {
            "node": "Code - Voice Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Voice Prompt": {
      "main": [
        [
          {
            "node": "OpenRouter - Voice Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Voice Request": {
      "main": [
        [
          {
            "node": "Supabase - Update Final Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Image Prompt": {
      "main": [
        [
          {
            "node": "OpenRouter - Image Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Image Request": {
      "main": [
        [
          {
            "node": "Supabase - Update Final Results2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Video Prompt": {
      "main": [
        [
          {
            "node": "OpenRouter - Video Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Video Request": {
      "main": [
        [
          {
            "node": "Supabase - Update Final Results3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Voice": {
      "main": [
        [
          {
            "node": "Code - Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Image": {
      "main": [
        [
          {
            "node": "Code - Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Supabase - Update Final Results4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Final Results": {
      "main": [
        [
          {
            "node": "Wait - Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Final Results2": {
      "main": [
        [
          {
            "node": "Wait - Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Final Results3": {
      "main": [
        [
          {
            "node": "Fix Jsons Quotes Escape",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Colab URL": {
      "main": [
        [
          {
            "node": "HTTP Request - Voiceover URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Update Final Results1": {
      "main": [
        [
          {
            "node": "Generate Voice URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare TTS Script": {
      "main": [
        [
          {
            "node": "Supabase - Get Colab URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Voice URL": {
      "main": [
        [
          {
            "node": "Prepare TTS Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix Jsons Quotes Escape": {
      "main": [
        [
          {
            "node": "Supabase - Update Final Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a9e8a4f2-66e9-4f1f-9f2e-8723e8ccda83",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b494153e94e4852ae8ff0cd2a79d7d14c81c31226add908bfb5a88f257a4e4d5"
  },
  "id": "mEKQ1aOtxAnyWxxA-7i9O",
  "tags": []
}